body {
    font-family: 'Poppins';
    margin-bottom: 100px;
}
.img-rounded{
    border-radius: 5%;
}
.img-padding{
    margin-top: 7%;
}
/* product card css */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 280px;
    margin: 5px;
    float: left;
    height: fit-content;
    text-align: center;
    font-family: arial;
    border-radius: 15px;
  }
  
  .price {
    color: grey;
    font-size: 18px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    width: 95%;
    font-size: 18px;
    max-width: inherit;
  }
  
  .card button:hover {
    opacity: 0.5;
  }
  footer{
    margin-top: 20%;
    padding-left: 2%;
    padding-top: 10px;
    background-color: darkgrey;
    bottom: 0;
    width: 100%;
    position: fixed;
    /* z-index: 0; */
    color: white;
  }
  .margined{
margin-top: 7%;
border: solid;
border-color: darkgrey;
border-width: 2px;
border-radius: 25px;
  }
  .dashboard1{
    padding: 5%;
    margin: 2%;
    background-color: lightslategray;
    color: aliceblue;
    border-radius: 20px;
  }  .dashboard2{
    padding: 5%;
    margin: 2%;
    background-color: rgb(100, 136, 173);
    color: aliceblue;
    border-radius: 20px;
    
  }  .dashboard3{
    padding: 5%;
    margin: 2%;
    background-color: rgb(33, 18, 43);
    color: aliceblue;
    border-radius: 20px;
    width:300px;
  }
  .dashboard4{
    padding: 5%;
    margin: 2%;
    background-color: rgb(33, 37, 11);
    color: aliceblue;
    border-radius: 20px;
    width:410px;
  }
  .link{
    text-decoration:none; 
    color: black;
  }
  .right {
float: right;
  }
  .footer{
   /*  */
  }